<div id="header" ng-controller="showDialogCtrl">
	<div id="headerMain">
		<div class="header_l">
			<ul>
				<li class="logo"></li>
				<li><a href="#">动态</a></li>
				<li><a href="#/activity">活动</a></li>
				<li><a href="#/article">文章</a></li>
			</ul>
		</div>
		<div class="header_r">
			<ul>
				<li><a href="javascript:;" class="reg_a" ng-click="clickToDialog()">注册</a></li>
				<li><a href="javascript:;" class="login_a" ng-click="clickToDialog()">登录</a></li>
				<li class="search" ng-click="jumptoUrl('/search')"></li>
			</ul>
		</div>
	</div>
</div>