#activity_detail_container{
	width: 780px;
	margin: 0 auto;
	margin-top: 20px;
}
#activity_detail_container .container-l{
	width: 520px;
	float: left;
	border: 1px solid #ddd;
}
#activity_detail_container .container-l .title{
	margin: 15px 0 0 15px;
	color: #333;
}
#activity_detail_container .container-l .date{
	margin: 0 0 15px 15px;
	font-size: 13px;
	color: #ccc;
}
#activity_detail_container .container-l .article{
	margin: 0 15px 15px 15px;
	font-size: 14px;
	line-height: 22px;
	color: #333;
}
#activity_detail_container .container-r{
	width: 220px;
	float: right;
}
#activity_detail_container .container-r .title{
	font-size: 14px;
	margin-bottom: 10px;
	width: 270px;
	height: 85px;
	line-height: 80px;
	color: #fff;
	font-size: 20px;
	background: #00a0e9;
	text-align: center;
}
#activity_detail_container .container-r .adress{
	margin-bottom: 60px;
	margin-top: 20px;
}
#activity_detail_container .container-r .adress p{
	margin-top: 15px;
	color: #666;
}
#activity_detail_container .comment{
	width: 520px;
	clear: both;
	padding-top: 20px;
}
#activity_detail_container .comment .show{
	height: 150px;
	margin-top: 20px;
	position: relative;
}

#activity_detail_container .comment .show .face{
	position: absolute;
	width: 50px;
	height: 51px;
	top: 0;
	background: url(../images/personal.png) no-repeat;
}
#activity_detail_container .comment .show .user{
	position: absolute;
	left: 60px;
	top: 5px;
	font-size: 16px;
	color: #333;
}

#activity_detail_container .comment .show .date{
	position: absolute;
	top: 28px;
	left: 60px;
	font-size: 13px;
	color: #666;
	
}
#activity_detail_container .comment .show .article{
	position: absolute;
	font-size: 15px;
	font-weight: bold;
	top: 50px;
	left: 60px;
	line-height: 25px;
}