.clear{
	clear: both;
}
#active_banner{
	width: 780px;
	margin: 40px auto;
	height: 80px;
}
#active_banner .list{
	margin: 20px 0;

}
#active_banner li{
	float: left;
	margin-right: 50px;
}
#active_banner li a{
	color: #ccc;
}
#active_banner .active a{
	color: #000;
	font-weight: bold;
}

#active_container{
	width: 780px;
	margin: 0 auto;
	
}

#active_container .activity > div{
	display: inline-block;
	border: 1px solid #ccc;
	margin: 10px 5px 20px 0;
	height: 200px;
	width: 240px;
}
#active_container .activity p{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
#active_container .activity-view div{
	height: 160px;
	background: #fa5f41;
}

#active_container .activity-view p{
	font-size: 16px;
	line-height: 40px;
	text-indent: 20px;
	font-weight: normal;
	color: #666;
}

#active_container .activity-view{
	position: relative;
}

#active_container .activity-view span{
	display: block;
	position: absolute;
	width: 50px;
	height: 25px;
	top: -12px;
	left: 10px;
	background: #65cd87;
	text-align: center;
	color: #fff;
}