#search{
	width: 780px;
	margin: 40px auto;
}

#search p{
	margin: 30px 0;
	padding: 0;
}
#search .text{
	border-radius: 20px;
	border: 1px solid #ccc;
	background: #fff;
	width: 660px;
	height: 25px;
	color: #666;
	text-indent: 5px;
}

#search_container{
	width: 780px;
	margin: 0 auto;
	margin-bottom: 400px;
}
#search_container .user{
	margin-bottom: 30px;
}
#search_container .user  > div{
	display: inline-block;
}
#search_container .user p{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 30px;
}
#search_container .user .personal {
	margin: 0 15px;
}
#search_container .user .personal h2{
	margin: 0 auto;
	text-align: center;
	width: 50px;
	height: 51px;
	background: url(../images/personal.png);
}
#search_container .user .personal p{
	text-align: center;
	margin: 15px 0;
	font-weight: bold;
}
#search_container .user .personal .parsonal-details{
	width: 200px;
	height: 66px;

	margin: 0 auto;
	border: 1px solid #ddd;
}
#search_container .user .personal span{
	display: inline-block;
	width: 60px;
	margin-top: 10px;
	padding: 4px 0;
	text-align: center;
	color: #666;
	font-size: 14px;

}

#search_container .article > div,
#search_container .activity > div{
	display: inline-block;
	border: 1px solid #ccc;
	margin: 10px 5px 20px 0;
	height: 200px;
	width: 240px;
}
#search_container .article p,#search_container .activity p{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
#search_container .article-1 div,#search_container .activity-1 div,
#search_container .article-2 div,#search_container .activity-2 div,
#search_container .article-3 div,#search_container .activity-3 div{
	height: 160px;
	background: #fa5f41;
}

#search_container .article-1 p,#search_container .activity-1 p,
#search_container .article-2 p,#search_container .activity-2 p,
#search_container .article-3 p,#search_container .activity-3 p{
	font-size: 16px;
	line-height: 40px;
	text-indent: 20px;
	font-weight: normal;
	color: #666;
}
#search_container .activity-1,
#search_container .activity-2,
#search_container .activity-3{
	position: relative;
}
#search_container .activity-1 span,
#search_container .activity-2 span,
#search_container .activity-3 span{
	display: block;
	position: absolute;
	width: 50px;
	height: 25px;
	top: -12px;
	left: 10px;
	background: #65cd87;
	text-align: center;
	color: #fff;
}