<div id="active_banner">
	<div class="list">
		<ul>
			<li class="active"><a href="#">全部</a></li>
			<li><a href="#">北京</a></li>
			<li><a href="#">武汉</a></li>
			<li><a href="#">西安</a></li>
			<li><a href="#">长沙</a></li>
			<li><a href="#">福州</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="list">
		<ul>
			<li class="active"><a href="#">全部</a></li>
			<li><a href="#">大山</a></li>
			<li><a href="#">城市</a></li>
			<li><a href="#">国际</a></li>
			<li><a href="#">内地</a></li>
			<li><a href="#">宇宙</a></li>
		</ul>
	</div>
</div>
<div class="clear"></div>
<div id="active_container">
	<div class="activity">
		<p>活动3条</p>
		<div class="activity-view" ng-click="jumptoUrl('/activity_detail')">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-view" ng-click="jumptoUrl('/activity_detail')">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-view" ng-click="jumptoUrl('/activity_detail')">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
	</div>
	<div class="activity">
		<p>活动3条</p>
		<div class="activity-view" ng-click="jumptoUrl('/activity_detail')">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-view" ng-click="jumptoUrl('/activity_detail')">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-view" ng-click="jumptoUrl('/activity_detail')">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
	</div>
</div>