<div id="article_container">
	<div class="container-t">
		<p>当前共有6片文章</p>
		<button class="button" ng-click="jumptoUrl('/write_article')">写文章</button>
	</div>
	<div class="container-b">
		<div class="articleDiv" ng-click="jumptoUrl('/article_detail')">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
		<div class="articleDiv" ng-click="jumptoUrl('/article_detail')">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
		<div class="articleDiv" ng-click="jumptoUrl('/article_detail')">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
		<div class="articleDiv" ng-click="jumptoUrl('/article_detail')">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
		<div class="articleDiv" ng-click="jumptoUrl('/article_detail')">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
		<div class="articleDiv" ng-click="jumptoUrl('/article_detail')">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
	</div>
</div>