<div id="member_data_myself">
	<div class="personal">
		<h2 ng-click="jumptoUrl('/member_data')"></h2>
		<p ng-click="jumptoUrl('/member_data')">社会主义好</p>
		<div class="parsonal-details">
			<span ng-click="jumptoUrl('/member')">动态<div>10</div></span>
			<span ng-click="jumptoUrl('/member_activity')">活动<div>10</div></span>
			<span ng-click="jumptoUrl('/member_article')">文章<div>10</div></span>
		</div>
	</div>
</div>

<div id="member_data_container">
	<table>
		<tr>
			<th>头像</th>
			<td class="face"></td>
			<td>修改</td>
		</tr>
		<tr>
			<th>昵称</th>
			<td>社会主义好</td>
			<td>修改</td>
		</tr>
		<tr>
			<th>手机</th>
			<td>15770906047</td>
			<td>修改</td>
		</tr>
		<tr>
			<th>邮箱</th>
			<td>1198512735@qq.com</td>
			<td>修改</td>
		</tr>
		<tr>
			<th>密码</th>
			<td>qweasd1005</td>
			<td>修改</td>
		</tr>
	</table>
</div>