<div id="member_myself">
	<div class="personal">
		<h2 ng-click="jumptoUrl('/member_data')"></h2>
		<p ng-click="jumptoUrl('/member_data')">社会主义好</p>
		<div class="parsonal-details">
			<span ng-click="jumptoUrl('/member')">动态<div>10</div></span>
			<span ng-click="jumptoUrl('/member_activity')">活动<div>10</div></span>
			<span ng-click="jumptoUrl('/member_article')">文章<div>10</div></span>
		</div>
	</div>
</div>
<div id="myself_container">
	<div>
		<div class="information">
			<p class="face"></p>
			<p class="user">社会主义好</p>
			<span class="date">2017-2-24</span>
		</div>
		<p class="article">
			中国人盛行的是“百善孝为先”，从历史文化传承来说，尊老敬老爱老是中华民族的传统美德，别的民族咱先不管不论，但是中华民族之所以是中华民族之所以血浓于水，之所以历尽沧桑生生不息，之所以“人情味”非常浓厚就是咱们中国人关爱老人爱护孩童
		</p>
		<div class="list">
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>6</div>
		</div>
		<div class="operation">
			<ul>
				<li></li>
				<li>233</li>
				<li>233</li>
			</ul>
		</div>
	</div>
	<div>
		<div class="information">
			<p class="face"></p>
			<p class="user">社会主义好</p>
			<span class="date">2017-2-24</span>
		</div>
		<p class="article">
			中国人盛行的是“百善孝为先”，从历史文化传承来说，尊老敬老爱老是中华民族的传统美德，别的民族咱先不管不论，但是中华民族之所以是中华民族之所以血浓于水，之所以历尽沧桑生生不息，之所以“人情味”非常浓厚就是咱们中国人关爱老人爱护孩童
		</p>
		<div class="list">
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>6</div>
		</div>
		<div class="operation">
			<ul>
				<li></li>
				<li>233</li>
				<li>233</li>
			</ul>
		</div>
	</div>
</div>