<div id="memebr_article_myself">
	<div class="personal">
		<h2 ng-click="jumptoUrl('/member_data')"></h2>
		<p ng-click="jumptoUrl('/member_data')">社会主义好</p>
		<div class="parsonal-details">
			<span ng-click="jumptoUrl('/member')">动态<div>10</div></span>
			<span ng-click="jumptoUrl('/member_activity')">活动<div>10</div></span>
			<span ng-click="jumptoUrl('/member_article')">文章<div>10</div></span>
		</div>
	</div>
</div>

<div id="memebr_article_container">
	<div class="activity">
		<p>活动3条</p>
		<div class="activity-1">
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-2">
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-3">
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
	</div>
</div>