<div id="search">
	<p>
		<input type="text" name="search" class="text">
	</p>
</div>
<div id="search_container">
	<div class="user">
		<p>用户3条</p>
		<div class="personal">
			<h2></h2>
			<p>社会主义好</p>
			<div class="parsonal-details">
				<span>动态<div>10</div></span>
				<span>活动<div>10</div></span>
				<span>文章<div>10</div></span>
			</div>	
		</div>
		<div class="personal">
			<h2></h2>
			<p>社会主义好</p>
			<div class="parsonal-details">
				<span>动态<div>10</div></span>
				<span>活动<div>10</div></span>
				<span>文章<div>10</div></span>
			</div>
			
		</div>
		<div class="personal">
			<h2></h2>
			<p>社会主义好</p>
			<div class="parsonal-details">
				<span>动态<div>10</div></span>
				<span>活动<div>10</div></span>
				<span>文章<div>10</div></span>
			</div>
		</div>
	</div>
	<div class="article">
		<p>文章3条</p>
		<div class="article-1">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
		<div class="article-2">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
		<div class="article-3">
			<div></div>
			<p>我是这个文章的标题</p>
		</div>
	</div>
	<div class="activity">
		<p>活动3条</p>
		<div class="activity-1">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-2">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
		<div class="activity-3">
			<span>北京</span>
			<div></div>
			<p>我是这个活动的标题</p>
		</div>
	</div>
</div>